*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
.whi_color{
  color:#ffffff;
}
.blu_color{
  color:#031c4e;
}
.bluel_color{
  color: #006aff;
}
.gray_color{
  color: #5c6a88;
}
.lgray_color{
  color: #bbc7e8;
}
.lgray_color_copy{
  color: #8b94a9;
}
.bg_gray{
  background-color: #f3f5f9;
}
.text-uppercase{
  text-transform: uppercase;
}
.text-center{
  text-align: center;
}
section{
  padding-top: 40px;
  padding-bottom: 50px;
}

.set-loghi{
  display: flex;
}
h4{
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 30px;
}
h2{
  padding-bottom: 30px;
  font-size: 34px;
}
.sotto_paragrafo{
  margin: 30px 0;
}
.set-loghi{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
img.loghi_img{
    margin: 10px;
    text-align: center;
  }
  div.link a{
  text-decoration: none;
  font-weight: bold;
  }
  ul.deploy_list li{
  text-decoration: none;
  border: none;
  border-left: 3px solid #5c6a88;
  list-style: none;
}
ul li a{
  text-decoration: none;
  padding: 10px;
  line-height: 2;
}
.container-deploy{
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.listato{
  padding-top: 20px;
}
.container-flex{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
.deploy-item-right{
  align-items: flex-end;
}
.deploy-item,
.deploy-item-right{
  max-width: calc((100% / 2) - 30px);
  width: 50%;
  padding: 15px;
}
  @media screen and (max-width:992px) {
   img.loghi_img{
     max-width: calc((100% / 6) - 20px);
     width: 35%;
   }
   .container-deploy{
     flex-wrap: wrap;
   }
   .deploy-item,
   .deploy-item-right{
    max-width: 100%;
    width: 100%;
   }
   .listato{
     width: 100%;
   }
  }
  @media screen and (max-width:768px) {
    .set-loghi{
      flex-wrap: wrap;
    }
    img.loghi_img {
    max-width: calc((100% / 2) - 20px);
    padding: 20px;
   }
  }
